<div ng-include="'partials/header.html'"></div>


    <div class="container theme-showcase">
     
      



      
      <div class="row-fluid">
         
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Level</h3>
            </div>
            <div class="panel-body">
          <div class="list-group">
            <a href="#/type/basic" class="list-group-item ">Basic</a>
            <a href="#/type/intermediate" class="list-group-item">Intermediate</a>
            <a href="#/type/advanced" class="list-group-item">Advanced</a>
             
          </div>
         
            </div>
          </div>
        
        
      </div>



      


    </div> <!-- /container -->
  
